.side-image {
  object-fit:cover;
}

body {
  background-color: #FFF;
}

.rotate-90 {
  transform: rotate(90deg);
}

.line-200 {
  line-height: 150px;
}

.Select-value-label {
  color: #fff!important;
  font-weight: bold;
  font-size: 1.3rem;
}

.province .Select-value-label {
  color: #606f7b!important;
  font-size: 16px!important;
}


.is-open .Select-value-label {
  color: #c99c29!important;
  font-style: italic;
}

.Select-input {
  display: none!important;
}

.is-open .Select-control {
  background-color: #fff!important;
}

.Select-control {
  background: none!important;
  border: none!important;
  border-radius: 0px!important;
  height: 40px!important;
}
.province .Select-arrow {
  background: url('/ChevronDownGrey.svg');
  background-repeat: no-repeat;
  width: 12px!important;
  height: 12px!important;
}

.is-open .Select-arrow {
  background: url('/ChevronDown.svg');
  transform: rotate(180deg);
  background-repeat: no-repeat;
  width: 12px!important;
  height: 12px!important;
}

.Select-arrow {
  background: url('/ChevronDownWhite.svg');
  background-repeat: no-repeat;
  width: 12px!important;
  height: 12px!important;
  margin-top: 8px;
  margin-right: 25px;
  border: none!important;
}

.Select-value {
  padding-top: 5px!important;
  padding-bottom: 5px!important;
  height: 60px!important;
}

.province .Select-value {
  height: 30px!important;
  padding-left: 0px!important;
}

.Select-menu-outer {
  padding-top:3px!important;
  border-top: #c99c29 solid 2px!important;
  max-height: 300px!important;
}

.Select-control:hover {
  box-shadow: none!important;
}

.Select-option {
  font-size: 1.3rem!important;
  color:#411e82!important;
  padding-top: 15px!important;
  height: 60px!important;
}

.Select-menu {
  max-height: 240px!important;
}

.Select-option.is-focused {
  background: none!important;
}

.Select-option.is-selected {
  background: none!important;
}

.Select-option:nth-child(even) {
  background-color: #EEF0F1!important;
}

.province .Select-value {
  margin-top: 0!important;
  line-height: 12px!important;
}

.province .Select-arrow-zone {
  vertical-align: top!important;
}

.right-button {
  position: relative;
  left:370px;
  top: -5px;
}

.invalid-login label {
  position: relative;
}

.invalid-login label:before {
  position: absolute;
  top: 7px;
  left: -50px;
  transform: scale(0.5);
  content: url('/error.png');
}

.invalid-login {
  margin-bottom: -4px;
  border-bottom: 4px solid;
  border-color: #F85858;
}

.invalid label {
   position: relative;
}

.invalid label:before {
  position: absolute;
  top: 7px;
  left: -35px;
  transform: scale(0.5);
  content: url('/error.png');
}

.Visa:before {
  content: "";
}

.Visa:after {
  position: absolute;
  content: url('/visa.png');
  top: 16px;
  right: 5px;
}

.MasterCard:after {
  position: absolute;
  content: url('/mastercard.png');
  top: 16px;
  right: 5px;
}

.invalid {
  border-color: #F85858;
}

.forced-height {
  height: 700px!important;
}

button:focus {outline:none;}
